{% extends "base.html" %}

{% block title %}
<title>Добавить новый жанр</title>
{% endblock %}

{% block content %}

<section>
    <div class="container-xxl">
        <div class="row justify-content-center">
            <div class=col-6>
                <form style="max-width: 500px;" method="POST" action="">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn btn-outline-primary" type="submit" value="Добавить">
                    <a class="btn btn-outline-secondary" href="/genres/" role="button">Назад</a>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}