{% extends "base.html" %}

{% block title %}
<title>Редактировать жанр</title>
{% endblock %}

{% block content %}

<section>
    <div class="container-xxl">
        <div class="row justify-content-center">
            <div class="col-6">
                <h2>Редактировать жанр:</h2>
                <h3>{{ genres.name }}</h3>
                <form style="max-width: 500px;" action="" method="POST">
                    {% csrf_token %}
                    {{ form.as_table }}
                    <input class="btn btn-outline-success" type="submit" value="Сохранить">
                    <a class="btn btn-outline-secondary" href="/genres/" role="button">Отменить</a>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}