{% extends "base.html" %}

{% block title %}
<title>Жанры</title>
{% endblock %}

{% block content %}


<section>
    <div class="container-xxl">
        <div class="row">
            <div class="col-3">
                <form method="get" action="">
                <div class="list-group">
                    <a href="{% url 'genre_create' %}" class="list-group-item list-group-item-action list-group-item-primary">
                        <strong>Добавить жанр</strong>
                    </a>
                </div>
                {% for genre in genres_list %}
                
                <div class="list-group">
                    <button type="submit" class="list-group-item list-group-item-action" data-tooltip="{{ genre.description }}" name="genre" value="{{ genre.name }}" >
                        {{ genre.name }}</br>
                        <a href="/genres/update/{{ genre.id }}">изменить</a> | 
                        <a href="/genres/delete/{{ genre.id }}">удалить</a>
                        <!-- <a class="btn btn-outline-primary" href="/books/update/{{ books.id }}" role="button">Изменить</a>
                        <a class="btn btn-outline-danger" href="/books/delete/{{ books.id }}" role="button">Удалить</a> -->
                    </button>
                </div>
                {% endfor %}
                <div class="list-group">
                    <button type="submit" class="list-group-item list-group-item-danger">
                        Сбросить фильтр
                    </button>
                </div>
                </form>
            </div>
            <div class="col">
                <h4>
                    Книги в жанре: 
                    {% for g in genre_name %}
                    {{ g.name }}
                    {% endfor %} ({{ book_list.count }})
                </h4>
                {% if book_list %}
                    {% for book in book_list %}
                    <div class="row" style="margin-bottom:15px;">
                        <div class="col-2">
                            <img src="{{ book.book_image.url }}" style="width:110px; height:160px">
                        </div>
                        <div class="col">
                            <h5>{{ book.name }} ({{ book.date_created.year }} г.)</h5>
                            <h6>Автор: {{ book.display_author }}</h6>
                            <a href="{{ book.get_absolute_url }}">подробнее о книге</a>
                        </div>
                    </div>

                    {% endfor %}

                {% else %}

                <h6>Ни одной книги не найдено. Попробуйте выбрать другой жанр</h6>

                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}