{% extends "base.html" %}

{% block title %}
<title>Выход из системы</title>
{% endblock %}

{% block content %}

<section>
    <div class="container-xxl">
        <p>Выход из системы!</p>
        <a href="{% url 'login' %}">Нажмите здесь, чтобы снова войти в систему.</a>
    </div>
</section>

{% endblock %}
