{% extends "base.html" %}

{% block title %}
<title>Войти в систему</title>
{% endblock %}

{% block content %}

<section>
    <div class="container-xxl">
        <div class="row">
            <div class="row justify-content-center">
                <div class="col-6">
                    <h2>Вход в систему.</h2>
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        {% include 'registration/bs5_form.html' with form=form %}
                        <br>
                        <button type="submit" class="btn btn-primary">Войти</button>
                        <a class="btn btn-secondary" href="/" role="button">Отменить</a>
                    </form>
                    <br>
                    <p><a href="{% url 'password_reset' %}">Утерян пароль?</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}