{% extends "base.html" %}

{% block title %}
<title>Пароль успешно изменен</title>
{% endblock %}

{% block content %}

<section>
    <div class="container-xxl">
    <h2>Пароль был успешно изменен!</h2>
    <p><a href="{% url 'login' %}">Повторить вход в систему?</a> </p>
    </div>
</section>

{% endblock %}
