{% extends "base.html" %}

{% block title %}
<title>Сброс пароля</title>
{% endblock %}

{% block content %}

<section>
    <div class="container-xxl">
        Для смены пароля пользователя с электронной почтой {{ email }} перейдите по ссылке ниже:
        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    </div>
</section>

{% endblock %}