{% extends "base.html" %}

{% block title %}
<title>Отправка e-maila</title>
{% endblock %}

{% block content %}

<section>
    <div class="container-xxl">
        <p>Мы отправили вам по электронной почте инструкции по установке пароля.
    Если они не получены в течение нескольких минут, то проверьте папку со спамом.</p>
    </div>
</section>

{% endblock %}
