{% extends "base.html" %}

{% block title %}
<title>Смена пароля</title>
{% endblock %}

{% block content %}

<section>
  <div class="container-xxl">
  {% if validlink %}
    <p>Пожалуйста, введите (и подтвердите) свой новый пароль.</p>
    <form action="" method="post">
      {% csrf_token %}
      {% include 'registration/bs5_form.html' with form=form %}
      <br>
      <button type="submit" class="btn btn-primary">Сменить пароль</button>
    </form>
  {% else %}
    <h2>Ошибка при смене пароля!!!</h2>
    <p>Ссылка на сброс пароля была недействительной, возможно, потому, что она уже использовалась.
      Пожалуйста, запросите новый сброс пароля.</p>
  {% endif %}
  </div>
</section>

{% endblock %}
