{% extends "base.html" %}

{% block title %}
<title>Сброс пароля</title>
{% endblock %}

{% block content %}

<section>
    <div class="container-xxl">
        <form action="" method="post">
            {% csrf_token %}
            {% include "registration/bs5_form.html" with form=form %}
            <br>
            <button type="submit" class="btn btn-primary">Сброс пароля</button>
        </form>
    </div>
</section>

{% endblock %}