{% extends "base.html" %}

{% block title %}
<title>Успешная регистрация</title>
{% endblock %}

{% block content %}

<section>
    <div class="container-xxl">
        <h2>Добро пожаловать {{ user.get_username }}</h2>
        <p>Ваш аккаунт успешно зарегистрирован. Теперь вы можете <a href="{% url 'login' %}">Войти</a> в систему.</p>
    </div>
</section>

{% endblock %}