{% extends "base.html" %}

{% block title %}
<title>Регистрация нового пользователя</title>
{% endblock %}

{% block content %}

<section>
    <div class="container-xxl">
        <div class="row">
            <div class="row justify-content-center">
                <div class="col-6">
                    <h2>Регистрация пользователя</h2>
                    <p>Пожалуйста, заполните все необходимые поля, чтобы зарегистрироваться:</p>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {% include 'registration/bs5_form.html' with form=form %}
                        <br>
                        <button type="submut" class="btn btn-primary">Зарегистрироваться</button>
                        <a class="btn btn-secondary" href="/" role="button">Выйти</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}