{% extends "base.html" %}

{% block content %}

<section>
    <div class="container-xxl">
        <div class="row justify-content-center">
            <div class="col-6">
                <h2>Редактировать автора</h2>
                <h3>{{ authors.first_name }} {{ authors.last_name }}</h3>
                <form style="max-width: 500px;" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                    </table>
                    </br>
                    <input class="btn btn-outline-success" type="submit" value="Сохранить">
                    <a class="btn btn-outline-secondary" href="/authors/{{ authors.id }}" role="button">Отменить</a>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}