{% extends "base.html" %}

{% block title %}
<title>Авторы</title>
{% endblock %}

{% block content %}

<section>
  <div class="container-xxl">
    <a class="btn btn-primary" href="{% url 'author_create' %}" role="button">Добавить автора</a>
    {% for author in authors_list %}
    <div class="row" style="margin:20px;" >
      <div class="col-2">
        <img src="{{ author.portrait.url }}" style="width:120px; height:160px;" alt="{{ author.first_name }} {{ author.last_name }}">
      </div>
      <div class="col-6">
        <h4>{{ author.first_name }} {{ author.last_name }}</h4>
        <h6>{{ author.date_of_birth }} - {{ author.date_of_death }}</h6>
        <small>{{ author.description }}</small></br>
        <a href="{{ author.get_absolute_url }}">
          Подробнее
      </a>
      </div>
      <div class="col">
      </div>
    </div>
    {% endfor %}
  </div>
</section>

{% endblock %}