{% extends "base.html" %}

{% block title %}
<title>{{ authors.first_name }} {{ authors.last_name }}</title>
{% endblock %}

{% block content %}

<section>
    <div class="container-xxl">
        <div class="row">
            <div class="col-3" style="padding:10px">
                <img src="{{ authors.portrait.url }}" style="width:310px; height:360px" alt="{{ authors.first_name }} {{ authors.last_name }}">
            </div>
            <div class="col-6">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h3>{{ authors.first_name }} {{ authors.last_name }}</h3></li>
                    <li class="list-group-item"><strong>Годы жизни: </strong>{{ authors.date_of_birth }} - {{ authors.date_of_death }}</li>
                    <li class="list-group-item"><strong>Краткая автобиография: </strong>{{ authors.description }}</li>
                </ul>
                <a class="btn btn-outline-primary" href="/authors/update/{{ authors.id }}" role="button">Изменить информацию</a>
                <a class="btn btn-outline-danger" href="/authors/delete/{{ authors.id }}" role="button">Удалить</a>
            </div>
            <div class="col-3">
            <h4>Книги автора</h4>
            {% for b in book %}
            <ol class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-8">
                            {{ b.name }} ({{ b.date_created.year }} г.) </br>
                            <a href="{{ b.get_absolute_url }}">
                                Подробнее
                            </a>
                        </div>
                        <div class="col-4">
                            <img src="{{ b.book_image.url }}" style="width:80px; height:120px;" alt="{{ b.name }}">
                        </div>
                    </div>
                </li>
            </ol>
            {% endfor %}
            </div>
            
        </div>
    </div>
</section>

{% endblock %}