{% extends "base.html" %}

{% block title %}
<title>Подтверждение удаления</title>
{% endblock %}

{% block content %}

<section>
    <div class="container-xxl">
        <h3>Удаление книги</h3>
        <p> Вы уверены, что хотите удалить книгу: {{ books.name }} ?</p>

        <form action="" method="POST">
            {% csrf_token %}
            <input class="btn btn-outline-danger" type="submit" value="Да, удалить">
            <a class="btn btn-outline-secondary" href="/books/book/{{ books.id }}" role="button">Нет, отменить</a>
        </form>
    </div>
</section>

{% endblock %}