{% extends "base.html" %}

{% block content %}

<section>
    <div class="container-xxl">
        <div class="row justify-content-center">
            <div class="col-6">
                <h4>Добавить новую книгу</h4>
                <form style="max-width: 500px;" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}        
                    <table>        
                        {{ form.as_table }}        
                    </table>        
                    <input class="btn btn-outline-primary" type="submit" value="Создать">
                    <a class="btn btn-outline-secondary" href="/books/" role="button">Назад</a>    
                </form>
            </div>
        </div>    
    </div>
</section>

{% endblock %}