{% extends "base.html" %}

{% load my_tags %}

{% block title %}
<title>Список книг</title>
{% endblock %}

{% block content %}

    <section>
        <div class="container-xxl">
            <a class="btn btn-primary" href="{% url 'book_create' %}" role="button">Добавить книгу</a>
            
            {% if books_list %}
                {% for book in books_list %}
                <div class="row" >
                    <div class="col-1" style="padding:5px">
                        <img src="{{ book.book_image.url }}" style="width:110px; height:160px" alt="{{ book.name }}">
                    </div>
                    <div class="col-7" style="padding:25px">
                        <h4>{{ book.name }}</h4></br>
                        <small>
                            {{ book.description }}
                        </small>
                        <br>
                        <a href="{{ book.get_absolute_url }}">
                            Подробнее
                        </a>
                    </div>
                    <div class="col-2" style="padding:25px">
                        {% for author in book.author.all %}
                            {{ author.first_name }} {{ author.last_name }}
                        {% endfor %}
                    </div>
                    <div class="col-2" style="padding:25px">
                        <a href="{{ book.book_file.url }}">
                            скачать ({{ book.book_file.size|sizify }})
                        </a>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </section>
    

{% endblock %}