{% extends "base.html" %}

{% block title %}
<title>{{ books.name }}</title>
{% endblock %}

{% block content %}

    <section>
        <div class="container-xxl">
            <div class="row">
                <div class="col-3" style="padding:10px">
                    <img src="{{ books.book_image.url }}" style="width:310px; height:360px" alt="{{ books.name }}">
                </div>
                <div class="col-6">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><h3>{{ books.name }}</h3></li>
                        <li class="list-group-item"><strong>Автор: </strong>{{ books.display_author }}</li>
                        <li class="list-group-item"><strong>Дата написания книги: </strong>{{ books.date_created.year }}</li>
                        <li class="list-group-item"><strong>Жанр: </strong>{{ books.display_genre }}</li>
                        <li class="list-group-item"><strong>Краткое описание: </strong>{{ books.description }}</li>
                    </ul>
                    <a class="btn btn-outline-primary" href="/books/update/{{ books.id }}" role="button">Изменить информацию</a>
                    <a class="btn btn-outline-danger" href="/books/delete/{{ books.id }}" role="button">Удалить</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}