{% load my_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>

        {% block title %}
        <title>Books library</title>
        {% endblock %}
    
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        
        <!-- Добавление статического CSS-файла -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    

    <body>
        <div class="container-xxl">
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none"></a>

                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'main' %}" class="nav-link px-2 link-dark">Главная</a></li>
                <li><a href="{% url 'books_list' %}" class="nav-link px-2 link-dark">Книги</a></li>
                <li><a href="{% url 'authors_list' %}" class="nav-link px-2 link-dark">Авторы</a></li>
                <li><a href="{% url 'genres_list' %}" class="nav-link px-2 link-dark">Жанры</a></li>
                </ul>
                {% if user.is_authenticated %}
                <div class="flex-shrink-0 dropdown">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">      
                      <img src="{% static 'images/avatar.jfif' %}" alt="mdo" width="32" height="32" class="rounded-circle">      
                    </a>      
                    <ul class="dropdown-menu dropdown-menu-end text-small shadow" aria-labelledby="dropdownUser2">      
                      <h6 class="dropdown-header">{{ user.get_username }}</h6>      
                      <!-- <li><a class="dropdown-item" href="{% url 'favorite_list' %}">Избранное</a></li> -->
                      <li><a class="dropdown-item" href="{% url 'logout' %}">Выйти</a></li>      
                    </ul>      
                  </div>
                {% else %}
                <div class="col-md-3 text-end">
                <a class="btn btn-outline-primary" href="{% url 'login' %}?next={{ request.path }}" role="button">Войти</a>
                <a class="btn btn-primary" href="{% url 'register' %}" role="button">Зарегистрироваться</a>
                </div>
                {% endif %}
            </header>
        </div>

        {% block content %}{% endblock %}

        {% block pagination %}

            {% if is_paginated %}
                <div class="container-xxl">
                    <div class="pagination">
                        {% if page_obj.has_previous %}
                        <a href="?{% param_replace page=1 %}">В начало</a>&nbsp
                            {% if page_obj.previous_page_number != 1 %}
                            &nbsp<a href="?{% param_replace page=page_obj.previous_page_number %}"><-</a>&nbsp
                            {% endif %}
                        {% endif %}
                
                        Страница {{ page_obj.number }} из {{ paginator.num_pages }}

            
                        {% if page_obj.has_next %}
                            {% if page_obj.next_page_number != paginator.num_pages %}
                            &nbsp<a href="?{% param_replace page=page_obj.next_page_number %}">-></a>&nbsp
                            {% endif %}
                            &nbsp<a href="?{% param_replace page=paginator.num_pages %}">В конец</a>
                            {% endif %}
                    </div>
                </div>
            {% endif %}

        {% endblock %}

        {% block footer %}
            {% block copyright %}
                <div class="container-xxl">
                    <small id="copyright_text">
                        Сайт создан при помощи Python-фреймворка Django и стилизован с помощью CSS-фреймворка bootstrap 5
                    </small>
                </div>
            {% endblock %}
        {% endblock %}

    </body>
</html>