{% extends "base.html" %}

{% block title %}
<title>Главная страница</title>
{% endblock %}

{% block content %}

<section>
    <div class="container-xxl">
        <h5>Вы находитесь на главной странице</h5>
    </div>
</section>
{% endblock %}
